.section.hero-banner-carousel {
    margin: 0;
}

.section.carousel-container .carousel-wrapper:has(.carousel.banner-carousel) {
    max-width: unset;
}

.carousel.banner-carousel {
    overflow: hidden;
}

.carousel.banner-carousel .swiper-slide div:has(picture) {
    height: 630px;
    width: 100%;
}

.carousel.banner-carousel .swiper-slide div:nth-child(n+2) {
    position: absolute;
    top: 40%;
    left: 14%;
}

.carousel.banner-carousel .swiper-slide div:nth-child(n+2)>p>a,
.carousel.banner-carousel .swiper-slide div:nth-child(n+2) a {
    all: unset;
    margin: unset;
    background-color: #0088dd;
    color: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0, 136, 221, 0.14), 0 3px 1px -2px rgba(0, 136, 221, 0.2), 0 1px 5px 0 rgba(0, 136, 221, 0.12);
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer;
}

.carousel.banner-carousel .swiper-slide div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel.banner-carousel .swiper-pagination {
    top: 70%;
    height: 30px;
}

.carousel.banner-carousel .swiper-pagination .swiper-pagination-bullet {
    width: 30px;
    height: 3px;
    border-radius: unset;
}

.carousel.banner-carousel .swiper-pagination .swiper-pagination-bullet-active {
    background: #fff;
}

.carousel.banner-carousel .swiper-button-next {
    right: 60px;
    background: unset;
}

.carousel.banner-carousel .swiper-button-prev {
    left: 60px;
    background: unset;
}

.carousel.banner-carousel .swiper-button-next::after,
.carousel.banner-carousel .swiper-button-prev::after {
    font-size: 15px;
}

@media (width <=900px) {
    .section.hero-banner-carousel.carousel-container {
        margin: 0;
    }

    .carousel.banner-carousel .swiper-slide div:has(picture) {
        height: 500px;
    }

    .carousel.banner-carousel .swiper-slide div img {
        object-position: 90%;
    }

    .carousel.banner-carousel .swiper-button-next {
        right: 5px;
    }

    .carousel.banner-carousel .swiper-button-prev {
        left: 5px;
    }

    .carousel.banner-carousel .swiper-pagination {
        top: 63%;
    }
}
