@import url('../carousel/swiper-bundle.min.css');
@import url('deals-carousel.css');
@import url('services-carousel.css');
@import url('banner-carousel.css');


.carousel-container{
    background-color: white;
    margin-top: 50px;
}
.section.carousel-container .carousel-wrapper {
    position: relative;
    max-width: 1140px;
    padding: 0;
}

.swiper-button-next,
.swiper-button-prev {
    background: #0088dd;
    padding: 8px 4px;
    border-radius: 12px;
}


/* .swiper-button-prev::after{
    color: #0088dd
}>
.swiper-button-next::after{
    color: #0088dd
} */


.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    pointer-events: all;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: #fff;
    font-size: 20px !important;
    font-weight: 700;
}

@media (width <=900px) {
    .section.carousel-container {
        margin: 50px 20px 0 35px;
    }
}
