.carousel.deals-carousel {
    padding-right: 15px;
    margin-top: 50px;
    overflow: hidden;
}

.carousel.deals-carousel .swiper-slide {
    display: flex;
    margin-bottom: 25px;
    background-color: #fff;
    box-shadow: 6px 8px 12px rgba(0, 135, 219, 0.24);
    border-radius: 16px;
}

.carousel.deals-carousel .swiper-slide div picture {
    display: block;
}

.carousel.deals-carousel .swiper-slide div:has(picture),
.carousel.deals-carousel .swiper-slide div picture {
    height: 254px;
    width: 254px;
}

.carousel.deals-carousel .swiper-slide div img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.carousel.deals-carousel .swiper-slide h4 {
    font-style: 27px;
    line-height: 29px;
    font-weight: 500;
    padding: 20px 20px 0;
    margin: 0;
    color: #000000DE;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.carousel.deals-carousel .swiper-slide p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 20px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.carousel.deals-carousel .swiper-slide p.button-container {
    margin: 20px;
    font-size: 0;
    line-height: 0;
}

.carousel.deals-carousel .swiper-slide a {
    margin: 20px;
    padding: 12px 15px;
    font-size: 14px;
    color: #fff;
    background: #0088dd;
    border-radius: 8px;
    width: 100%;
    border: 0;
    margin: 0;
}

.carousel.deals-carousel .swiper-slide a:hover {
    background: #153d8a;
}

.carousel.deals-carousel .swiper-pagination {
    top: 100%;
}

.carousel.deals-carousel .swiper-pagination .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
}

.carousel.deals-carousel .swiper-button-next {
    right: -5px;
    top: 125px;
}

.carousel.deals-carousel .swiper-button-prev {
    left: -25px;
    top: 125px;
}

@media (width <=768px) {
    .carousel.deals-carousel {
        padding: 0 15px 20px 0;
        margin-top: 40px;
    } 

    .carousel.deals-carousel .swiper-slide {
        flex-direction: column;
        border: unset;
        min-height: 535px;
    }

    .carousel.deals-carousel .swiper-slide div:has(picture),
    .carousel.deals-carousel .swiper-slide div picture {
        width: 100%;
    }

    .carousel.deals-carousel .swiper-slide div img {
        border-top-right-radius: 16px;
        border-bottom-left-radius: unset;
    }

    .carousel.deals-carousel .swiper-pagination {
        top: 95%;
    }

    .carousel.deals-carousel .swiper-pagination .swiper-pagination-bullet {
        margin: 0 4px;
    }

    .carousel.deals-carousel .swiper-button-next,
    .carousel.deals-carousel .swiper-button-prev  {
        top: 240px;
    }
}
